@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', 'Roboto';
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding: 10px 0;
}

/* Utility Classes */

.container {
  max-width: 1100px;
  margin: auto;
}

.py1 {
  padding: 10px 0;
}

.py2 {
  padding: 15px 0;
}

.py3 {
  padding: 20px 0;
}

.py4 {
  padding: 25px 0;
}

.bg-dark {
  background: #1b4066;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
}

.btn {
  background-color: #1b4066;
  border-radius: 10px;
}

.btn:hover {
  background: #22568a;
}

.l-heading {
  font-size: 60px;
}

.m-heading {
  font-size: 30px;
}

.text-primary {
  color: #1b3f8b;
}

.text-center {
  text-align: center;
}

.current {
  background: #22568a;
  border-radius: 10px;
}

/* NavBar Styling */

#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar ul li {
  padding: 20px;
}

#navbar ul li a {
  padding: 20px;
}

#navbar ul li a:hover {
  background: #22568a;
  border-radius: 10px;
}

#navbar .logo {
  padding: 20px;
}

/* Section: Showcase Styling */

#showcase {
  background: url('https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')
    no-repeat center / cover;
  color: #fff;
  height: 100vh;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 65px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

#showcase .showcase-content h1 {
  margin-bottom: 20px;
}

#showcase .showcase-content p {
  font-size: 18px;
  margin: 0 20px;
}

#showcase .showcase-content a {
  margin-top: 30px;
  padding: 20px;
}

/* Section: Services Styling */

#services .items {
  display: flex;
  flex-direction: column;
}

#services h3 {
  padding-top: 20px;
}

#services .items .item {
  text-align: center;
  padding: 20px;
  margin-right: 10px;
  padding-bottom: 50px;
}

/* Section: About Styling */

#about .info {
  display: flex;
}

#about .info div {
  flex: 1;
}

#about .info .bg-img {
  background: url('https://static.rentcars.com/imagens/modules/localidade/about/983-desktop-location-description.png')
    no-repeat center/cover;
}

#about .info .text-info {
  padding: 30px;
  background: #1b4066;
  color: #fff;
}

#about .info ul li {
  list-style: none;
  padding-top: 25px;
  margin-bottom: 10px;
  border-bottom: 0.1px #fff dotted;
}

/* Testimonials Page Styling */

.testimonials .reviews .review {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.testimonials .reviews .review .name-img-location {
  display: flex;
  align-items: center;
  background: #1b4066;
  color: #fff;
}

.testimonials .reviews .review .name-img-location .person {
  width: 100px;
  border-radius: 50%;
  padding: 10px;
  margin-left: 17%;
}

.testimonials .reviews .review .detail {
  background: #262626;
  padding: 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.testimonials .reviews .review div {
  flex: 1;
}

/* Contact Page Styling */

#contact {
  padding: 20px;
}

#contact .contact-form .form-group label {
  display: block;
  padding: 10px 0;
}

#contact .contact-form .form-group input,
textarea {
  padding: 18px;
  width: 100%;
  margin: 15px 0;
}

#contact .contact-form .btn {
  padding: 15px 30px;
  margin-top: 5px;
  color: #fff;
  font-size: 17px;
  border: 0;
}

/* Section: location-Phone-Email Styling */

#our-info {
  background: #333;
}

#our-info .all-info {
  display: flex;
  text-align: center;
  color: #fff;
}

#our-info .all-info div {
  flex: 1;
}

#our-info .all-info .info {
  padding: 100px 0;
}

#our-info .all-info .info i {
  margin-bottom: 10px;
}

/* Footer Styling */

.main-footer {
  padding: 30px;
  margin-top: 10px;
  background: #1b4066;
  color: #fff;
}
